@font-face{
    font-family: helvetica;
    src: url(Helvetica.ttf);
}

html,
body{
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
}

.input{
    font-family: helvetica;
    font-size: large;
    height: 30px;
    padding: 20px;
    background-color: black;
    text-align: right;
    border: none;
    color: #fff;
}

.button{
    font-family: helvetica;
    font-size: 25px;
    height: 75px;
    width: 75px;
    background: #1c1c1c;
    text-align: center;
    color: white;
    padding: 20px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 100%;
}

#bt1{
    color: black;
    background-color: #d4d4d2;
    height: 75px;
    width: 75px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
}

#bt2{
    color: white;
    background-color: #ff9500;
    height: 75px;
    width: 75px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
}

.row{
    margin: 8px 0;
}

.row input{
    height: 75px;
    width: 300px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
}

.zero{
    text-align: left;
    width: 151px;
    height: 75px;
    align-items: center;
    border-radius: 50px;
}

.text-align{
    text-align: center;
}

.container{
    margin: auto;
    text-decoration: column;
    align-items: center;
}

